{% extends "base.html" %}


{% block body %}

        <h1>{{ melon.common_name }}</h1>

        <img class = "melon-image" src = "{{ melon.image_url }}">
        
        <h3>{{ melon.price_str() }} </h3>
        <ul>
        <li>{{ melon.color.title() }}</li>
        {% if melon.seedless %}
            <li>Seedless melon</li>
        {% else %}
            <li>This melon has seeds</li>
        {% endif %}
        </ul>
        
        <a class="btn btn-primary" href = "{{ url_for('add_to_cart', melon_id=melon.melon_id) }}">Add to Cart</a>

{% endblock %}